/* #navPlaceHolder {
    background-color: green;
}

#main {
    background-color: yellow;
}

#footerPlaceholder {
    background-color: red;
} */

#text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}